html {
  background-color: antiquewhite;
}

body {
  width: 90%;
  background-color:aquamarine;
  border: 10px dotted gold;
  margin: auto;
}

p {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div>p {
background-color:yellow;
text-decoration: line-through;
text-align: center;
text-indent: 100px;
text-transform: uppercase;
letter-spacing: normal;
word-spacing: normal;
line-height: 1em;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.6em;
font-weight: bold;
}

a {
  display: block;
  text-decoration: double;
  color: blueviolet;
  transition: transform  1s ease;
}

a:hover {
  
  transform: rotate(180deg);
}