html {
  background-color: antiquewhite;
}

body {
  width: 90%;
  background-color:aquamarine;
  border: 10px dotted gold;
  margin: auto;
}

p {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div>p {
  color:brown;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-style: oblique;
}

a {
  display: block;
  text-decoration: double;
  color: blueviolet;
  transition: transform  1s ease;
}

a:hover {
  
  transform: rotate(180deg);
}